/* Error page styles */
.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #0d1224;
    color: white;
    text-align: center;
}

.error-page h1 {
    font-size: 6rem;
    margin-bottom: 20px;
}

.error-page p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

button {
    padding: 10px 20px;
    background-color: #915eff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #7b4ed9;
}