.navbar {
	background: var(--background-color);
	color: var(--text-color);
	padding: 2rem 0 2rem 0;
	max-height: calc(100vh - 100px);
	z-index: 1000;
	background-color: transparent;
}

.navbar .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1280px;
	padding-left: 0.5rem;
	padding-right: 1rem;
}

.navbar h1 {
	color: var(--text-color);
	font-size: 1.75rem;
	font-weight: 400;
	user-select: none;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.navbar nav {
    display: flex;
}

.navbar nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar nav ul li {
    margin: 0 20px;
	font-size: 1.1rem;
}

@media (max-width: 768px) {
    .navbar nav ul {
        flex-direction: column;
		display: none;
    }

    .navbar nav ul li {
        margin: 10px 0;
    }

	.navbar h1 {
		padding-left: 1rem;
		font-size: 1.4rem;
		font-weight: 400;
	}
}